header{
 
    background-color: aqua;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlinks ul{
    display: flex;
    gap:20px;
    margin-right: 100px;
}
.navlinks ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:black;
    transition: 0.3s;
}
a:hover{
    color:red;
}
h2{
    text-align: center;
}